<!DOCTYPE html>
<html>
	<hrad>
	<title>About</title>
	 <link rel="stylesheet" type="text/css" href="background.css">
	</hrad>
	<body>
		<p>
			 <b>Tunevilla</b> is a full-stack musical web application. Where an
admin can add new songs and a customer can explore songs. The user
needs to register as an admin/customer to access the features of the
application. To design this project the
<b>Technologies Used:</b> Java, Spring Boot, Thymeleaf, MYSQL, CSS, HTML,
and JavaScript.

		</p>
	</body>
</html>