<!--<!DOCTYPE html>
<html>
	<head>
		<title>
			LOGIN
		</title>
		
    <link rel="stylesheet" type="text/css" href="login.css">
		  <link href="https://fonts.goggleeapis.com/css?family=Cinzel" rel="stylesheet">
	</head>
	<body>
	<div class="bgimg">
      <div class="centerdiv">
      <
		<form action="validate" method="post">
		<h2>USER LOGIN</h2>
		<label>Email: </label>
				<input type="email" name="email" placeholder="Email">
				<br/><br/>
				<label>Password: </label>
				<input type="password" name="password" placeholder="password">
				<br/>
				&nbsp; &nbsp;<button>Login</button> 
				
				</form>
				</div>
				</div>
	</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form </title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" type="text/css" href="background.css">
</head>
<body>
    <div class="login-box">
        <form action="validate" method="post">
        <h2>USER LOGIN</h2>
            <div class="user-box">
                <input type="text" name="email" required >
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <a href="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" value="Login">
            </a>
           <a href="forgotPassword">
			   Forgot password?
		   </a>
        </form>
    </div>
</body>
</html>